body {
    display: flex;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 100%);
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
}

.header {
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 100%);
    height: 6vh;
    width: 100vw;
    justify-content: center;
    top: 0;
}

.header-button {
    display: flex;
    color: rgba(255, 255, 255, 100%);
    font-family: Helvetica;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 100%);
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin-top: 1.2vh;
    margin-bottom: 1.2vh;
    cursor: pointer;
    width: 10vh;
    border: 0.1vh solid rgba(255, 255, 255, 100%);
    border-radius: 2vh;
    margin-left: 0.4vh;
    margin-right: 0.4vh;
    font-size: 1.2vh;
}

.header-button:hover {
    background-color: rgba(255, 255, 255, 12%);
}

.profile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgba(0, 0, 0, 100%);
    height: 56vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    text-align: left;
}

.hello {
    color: rgba(252, 199, 55, 100%);
    font-weight: normal;
    font-size: 3.2vh;
    margin-top: 0;
    margin-bottom: 0;
}

.name {
    color: rgba(255, 255, 255, 100%);
    font-weight: bold;
    font-size: 6.4vh;
    margin-top: 0;
    margin-bottom: 0;
}

.line {
    width: 36vh;
    border-width: 0.1vh;
    border-color: rgba(255, 255, 255, 100%);
    margin-bottom: 1.6vh;
}

.status {
    color: rgba(255, 255, 255, 100%);
    font-weight: normal;
    font-size: 2.4vh;
    margin-top: 0;
    margin-bottom: 0;
}

.techstack {
    width: 100vw;
}

.ts-title {
    font-family: Helvetica;
    color: rgba(0, 0, 0, 100%);
    font-size: 4.2vh;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: 6vh;
}

.ts-style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8vh;
}

.box {
    display: flex;
    width: 36vh;
    height: 10.6vh;
    background-color: rgba(252, 199, 55, 12%);
    border: 0.4vh solid rgba(252, 199, 55, 100%);
    border-radius: 1.6vh;
    align-items: center;
    justify-content: center;
    margin: 1.6vh;
}

.box:hover {
    background-color: rgba(252, 199, 55, 24%);
    margin-top: 1.2vh;
    margin-bottom: 2vh;
}

.about-lang {
    font-family: Helvetica;
    text-align: left;
    color: rgba(0, 0, 0, 100%);
    margin-left: 2vh;
    margin-right: 2vh;
}

.lang-icon {
    width: 6vh;
    height: 6vh;
    margin-left: 2vh;
    object-fit: contain;
}

.lang-framework {
    font-weight: bold;
    font-size: 3.2vh;
    margin-bottom: 0.4vh;
}

.lang-type {
    font-weight: normal;
    font-size: 1.6vh;
    margin-top: 0;
}

.footer {
    display: flex;
    background: rgba(0, 0, 0, 100%);
    height: 16vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.footer-style {
    display: flex;
    flex-wrap: nowrap;
    font-family: Helvetica;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 100%);
}

.footer-name {
    font-weight: bold;
    font-size: 2.4vh;
    padding-top: 0.4vh;
}

.footer-pipe {
    font-weight: normal;
    font-size: 2.4vh;
    margin-left: 2.4vh;
    margin-right: 2.4vh;
}

.footer-copyright {
    font-weight: normal;
    font-size: 1.6vh;
    padding-top: 0.6vh;
}
